.noAnime {
  width: fit-content;
  margin: max(5vw, 50px) auto 0;
  padding: 0.5em 1em;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  background-color: rgb(0 0 0/0.4);
  backdrop-filter: blur(6px);
}
.resultList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5vw;
  & li {
    --r: 10px;
    border-radius: var(--r);
    background-color: rgb(0 0 0/0.4);
    backdrop-filter: blur(10px);
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    transition-property: translate, box-shadow;
    transition-duration: 0.4s;
    &:has(.linkCover:hover) {
      translate: 0 -14px;
      box-shadow: 0 10px 20px rgb(0 0 0/0.3);
    }
  }
  & img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: var(--r) var(--r) 0 0;
  }
}

.searchArea {
  position: fixed;
  inset: max(5vw, 50px) auto auto 5vw;
  z-index: 100;
  & label {
    box-shadow: 0 8px 16px rgb(0 0 0/0.2);
    display: flex;
    align-items: center;
    width: var(--header-w);
    background-color: #fff;
    border-radius: 2em;
    overflow: hidden;
    position: relative;
    & > span:not(.iconBox) {
      position: absolute;
      inset: 50% 1em auto auto;
      translate: 0 -50%;
      opacity: .6;
    }
  }
  & input {
    width: 100%;
    padding: 0.5em 0.6em;
    flex: 1;
  }
}
.iconBox {
  height: 100%;
  display: grid;
  padding-inline: 0.8em 0.5em;
  place-items: center;
  cursor: pointer;
}

.body {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  gap: 0.4em;
  padding: 1em;
  & h2 {
    grid-area: 1/1/2/3;
    font-weight: 500;
  }
  & > div {
    display: flex;
    gap: 0.4em;
    align-self: end;
  }
}
.linkCover {
  position: absolute;
  inset: 0;
  z-index: 1;
  > span {
    position: fixed;
    inset: auto auto -2em 50%;
    translate: -50%;
  }
}
.isRegisteredLabel {
  color: #ddd;
  grid-area: 2/2/3/3;
}
.linkLogin {
  border-radius: 4px;
  padding: 0.3em 0.8em;
  color: #fff;
  font-weight: 500;
  grid-area: 2/2/3/3;
  position: relative;
  isolation: isolate;
  z-index: 10;
  background-color: #333;
  transition: opacity 0.4s;
  &:hover {
    opacity: 0.7;
  }
}

.moreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 10em;
  gap: 1em;
  padding-block: 0.8em;
  font-weight: 500;
  background-color: var(--primary-c);
  border-radius: 4px;
  margin: max(5vw, 50px) auto 0;
  transition: background-color 0.6s;
  &:after {
    content: "";
    width: 7px;
    margin-bottom: 3px;
    aspect-ratio: 1;
    border-right: 2px solid;
    border-bottom: 2px solid;
    rotate: 45deg;
  }
  &:hover {
    background-color: #333;
  }
}
