.noAnime {
  width: fit-content;
  margin: max(5vw, 50px) auto 0;
  padding: 0.5em 1em;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  background-color: rgb(0 0 0/0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
.resultList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5vw;
  & li {
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(0 0 0/0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    transition-property: translate, box-shadow;
    transition-duration: .4s;
    &:has(.linkCover:hover) {
      translate: 0 -14px;
      box-shadow: 0 10px 20px rgb(0 0 0/0.3);
    }
  }
  & img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
  }
}

.searchArea {
  position: fixed;
  inset: max(5vw, 50px) auto auto 5vw;
  z-index: 100;
  & label {
    box-shadow: 0 8px 16px rgb(0 0 0/0.2);
    display: flex;
    align-items: center;
    width: var(--header-w);
    border-radius: 2em;
    overflow: hidden;
    background-color: #fff;
  }
  & input {
    width: 100%;
    padding: 0.5em 0.6em;
    flex: 1;
  }
}
.iconBox {
  height: 100%;
  display: grid;
  padding-inline: 0.8em 0.5em;
  place-items: center;
  cursor: pointer;
}


.body {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  gap: 0.4em;
  padding: 1em;
  & h2 {
    grid-area: 1/1/2/3;
    font-weight: 500;
  }
  & > div {
    display: flex;
    gap: 0.4em;
    align-self: end;
  }
}
.linkCover {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.isRegisteredLabel {
  color: #ddd;
  grid-area: 2/2/3/3;
}
.linkLogin {
  border-radius: 4px;
  padding: 0.3em 0.8em;
  color: #fff;
  font-weight: 500;
  grid-area: 2/2/3/3;
  position: relative;
  isolation: isolate;
  z-index: 10;
  background-color: #333;
  transition: opacity 0.4s;
  &:hover {
    opacity: 0.7;
  }
}

