.isRegisteredLabel {
  color: #ddd;
  grid-area: 2/2/3/3;
}
.registerButton {
  border-radius: 4px;
  padding: 0.3em 0.8em;
  color: #fff;
  font-weight: 500;
  grid-area: 2/2/3/3;
  position: relative;
  isolation: isolate;
  z-index: 10;
  background-color: var(--primary-c);
  transition: background-color 0.4s;
  &:hover {
    background-color: #333;
  }
}
