.pageTitle {
  font-size: 2em;
  color: #fff;
  font-weight: 600;
  text-shadow: 0 0.2em 0.4em rgb(0 0 0/0.3);
}

.myAnimeList {
  padding-top: max(5vw, 50px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5vw;
}
